/*비밀번호 재설정*/
#pass_modify_wrap {
    width: 600px;
    margin: 80px auto;
}

#pass_modify_wrap .pass_modify {
    width: 500px;
    height: 600px;
    padding: 80px 30px;
    background-color: #F2F2F2;
    border-radius: 30px;;
    box-sizing: border-box;
	text-align:center;
}

#pass_modify_wrap .pass_modify h1 {
    font-size: 30px;
    font-weight: 600;
}

#pass_modify_wrap .pass_modify {
    font-size: 20px;
	margin-top: 30px;
} 

#pass_modify_wrap .pass_modify .new {
	text-align: left;
	font-weight: 600;
}

#pass_modify_wrap .pass_modify p:last-child {
	 font-size: 15px;
	text-align: center;
} 

#pass_modify_wrap .pass_modify > div {
    margin-top: 40px;
}

#pass_modify_wrap .pass_modify form input {
    width: 400px;
    height: 60px;
    background-color: #fff;
    border-radius: 30px;
    border: none;
	margin-top: 20px;
	padding: 30px; 
}
#pass_modify_wrap .pass_modify form input::placeholder {
    font-size: 20px;
    color: #DCDBDB;
	box-sizing: border-box;
}

#pass_modify_wrap .pass_modify button {
	margin-top: 60px;
    width: 200px;
    height: 60px;
    background-color: #93CFCF;
    border-radius: 30px;
    font-size: 20px;
	color: #Fff;
	border:none;
}